---
import { Image } from "astro:assets";
import json from "../data/friends.json";

type FriendBase = {
  neko?: boolean;
  order: number;
  href: string;
};

type FriendA = FriendBase & {
  name: string;
};

type FriendImg = FriendBase & {
  "88x31": string;
  alt: string;
  magic?: string;
};

const friends: FriendBase[] = json;

const sortedFriends: FriendBase[] = json
  .sort((a, b) => {
    if (a.href && b.href) return a.href.localeCompare(b.href);
    return 0;
  })
  .sort((a, b) => a.order - b.order);

const aFriends = sortedFriends.filter((f): f is FriendA => "name" in f);
const imgFriends = sortedFriends.filter((f): f is FriendImg => "88x31" in f);
---

<style>
  .buttons img {
    image-rendering: pixelated;
  }

  .buttons a {
    display: inline-flex;
  }

  .links span {
    display: inline-block;
  }
</style>

<span class="buttons">
  <Image src="/static/buttons/adryd.png" alt="adryd" width={88} height={31} />
  {
    imgFriends.map((friend: FriendImg) => (
      <>
        <a href={friend.href} data-neko={friend.neko && "true"}>
          <Image
            src={"/static/buttons/" + friend["88x31"]}
            alt={friend.alt}
            onload={friend.magic}
            width={88}
            height={31}
          />
        </a>
      </>
    ))
  }
</span>
<br />
<span class="links">
  {
    // I really dont know what to do to get whitespace to work here.
    // Just wrapping everything in a span seems to work, but I hate it
    aFriends.map((friend: FriendA) => (
      <>
        <span>
          <a class="fancy-link" href={friend.href} data-neko={friend.neko}>
            {friend.name}
          </a>
        </span>
      </>
    ))
  }
</span>
